*~
*.swp
Exercises/valid_parentheses
Exercises/goodDaysToRobBank
Exercises/largest_altitude
*.class
Exercises/minesweeper
Exercises/enqueue
Exercises/lsan.supp
Exercises/enqueue.dSYM/Contents/Resources/DWARF/enqueue
/Exercises/env1